/* page.html */
html, body {
    height: auto;
    width: auto;
  }
  /* navbar */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  #logo {
    height: 50px;
    margin-right: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 20;
    padding: 0;
  }
  
  nav a {
    display: block;
    padding:10px 15px;
    color: #333;
    text-decoration: none;
  }
  /* form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  /*sellcars.html css  */
  .form-container {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  
  /* login popup  */
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  #signin-popup, #signup-popup {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .popup-content {
    background-color: #fff;
    border: 1px solid #333;
    margin: 100px auto;
    padding: 20px;
    position: relative;
    width: 400px;
  }
  
  .close-btn {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px
  }