html,
body {
  height: auto;
  width: auto;
  font-family: 'Lato';font-size: 15px;
  scroll-behavior: smooth
}

/* Nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}
#logo {
  height: 80px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 20;
  padding: 0;
}

nav a {
  display: block;
  padding:10px 15px;
  color: #333;
  text-decoration: none;
}